fastapi
uvicorn[standard]
pydantic
python-multipart
python-docx==1.1.2
httpx
wordfreq
scispacy
spacy
google-generativeai>=0.7.0
python-dotenv
openai
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz